{% extends 'web/base.html' %}

{% block content %}
    <div class="main-posts text-center">
        <div class="form-background">
            <h1 class="color-main" style="margin:2rem 0 2rem 0;padding-top:2rem; ">Войти</h1>
            <form action="" method="post">
                {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{field.label_tag}}
                            <div>{{field}}</div>
                            {% if field.errors%}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{error}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                <input class="button-enter btn" type="submit" value="Войти">
            </form>
        </divcla>
    </div>
{% endblock content %}