{% extends 'web/base.html' %}

{% block content %}
    <div class="main-posts text-center">
        <div class="form-background">
            <h1 class="color-main" style="margin:2rem 0 2rem 0;padding-top:2rem; ">Личный кабинет</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{user_form.username.label_tag}} {{ user_form.username }}
                {{profile_form.avatar.label_tag}} {{ profile_form.avatar }}
                <input class="button-enter btn" type="submit" value="Поменять данные">
            </form>
        </div>
    </div>
{% endblock content %}